# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# Databases
*.db
*.sqlite3

# Logs
logs/
*.log

# General
*.swp
.DS_Store

# Development Files / Stuff you don't want in Git
Dev/